<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <p>name: <%= temp.name %></p>
  <p>avaliable: <%= data.status %></p>
  <p>description: <%= temp.description %></p>
  <p>image: <img src="<%= temp.imageUrl %>" alt=""></p>
  <p>price: <%= temp.formatPrice() %></p>
  <p>finish product minimal: <%= data.timeOfContract %> days</p>
  <p>property thats avaliable: <%= data.requirement %></p>
  <p>another image exmaple: </p>
  <% data.Galleries.forEach(el => { %>
    <img src="<%= el.name %>" alt="<%= el.alternate %>">
  <% }) %>
</body>
</html>